#next-job {
  position: absolute;
  right: 1em;
  top: 1em;
}

#username {
  display: inline-flex;
  position: absolute;
  right: 1.2em;
}

#vote-box {
  width: 5em;
}

.fa-caret-down,
.fa-caret-up {
  cursor: pointer;
}

.fa-edit {
  opacity: 0.2;
}

.fa-edit:hover {
  cursor: pointer;
  opacity: 0.5;
}

.fa-trash-alt {
  opacity: 0.2;
}

.fa-trash-alt:hover {
  cursor: pointer;
  opacity: 0.6;
  color: brown;
}

.hr-post-bottom {
  width: 90%;
}
