#username {
  display: inline-flex;
  position: absolute;
  right: 1.2em;
}

#vote-box {
  width: 5em;
}

.fa-caret-down,
.fa-caret-up {
  cursor: pointer;
}

.fa-edit {
  opacity: 0.3;
}

.fa-edit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.fa-trash-alt {
  opacity: 0.3;
}

.fa-trash-alt:hover {
  cursor: pointer;
  opacity: 0.7;
  color: brown;
}
